/* app global css */

.bg-move-brand-blue{
    background: #068FCF;
}
.move-app-color{
    background-color: #FDFDFD;
}
.move-app-layout{
    background-color: #221F1F;
}
.bg-sc-brand-green{
    background: #028748;
}
.bg-sc-brand-color{
    background: #2F4457;
}
.sc-brand-color{
    background-color: #2F4457;
}